{% extends "main.html" %}
{% load django_markdown %}

{% block blog_entries %}
{% for object in object_list %}
  <div class="post">
    <h2><a href="{% url "blog:entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta">
      {{ object.created }} tags: {% for tag in object.tags.all %} 
      <a class="post-category post-category-js" href="{% url "blog:tag_index" slug=tag.slug %}"> #{{ tag }} </a>{% endfor %}
    </p>
    <div class="post-body">
        {{ object.body|markdown }}
    </div>
  </div>
{% endfor %}
{% if is_paginated %}
    <ul class="pager">
      <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Prev</a></li>
      <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a></li>
    </ul>
{% endif %}
{% endblock %}
