{% load staticfiles %}
<!DOCTYPE html>
<head>
  <title>Heidi Kasemir</title>
  <link rel="icon" href="{% static "icons/favicon.png" %}">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "mainpage/css/styles.css" %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<header>
    <a href="{% url "index" %}">Heidi Kasemir</a>
    <div class="subtitle">Designer</div>
</header>
<nav>
    <ul>
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "blog:blog" %}">Blog</a></li>
        <li><a href="{% url "game" %}">Projects</a></li>
    </ul>
</nav>

<div class="container">

{% block mainContent %} {% endblock %}
{% block blog_entries %} {% endblock %}

</div>

<footer>
<ul class="social-icons">
    <li><a href="http://www.github.com/hkasemir" target="_blank"><span class="zocial-github"></span></a></li>
  <li><script>
    <!-- Begin
    user = "heidi.kasemir";
    site = "gmail.com";
    document.write('<a href=\"mailto:' + user + '@' + site + '\">');
    document.write('<span class="zocial-email"></span> ' + '</a>');
    // End -->
    </script></li>
    <li><a href="https://www.facebook.com/heidi.kasemir" target="_blank"><span class="zocial-facebook"></span></a></li>
    <li><a href="https://twitter.com/HeidiKasemir" target="_blank"><span class="zocial-twitter"></span></a></li>
    <li><a href="https://www.pinterest.com/heidikasemir/" target="_blank"><span class="zocial-pinterest"></span></a></li>
    <li><a href="https://www.linkedin.com/pub/heidi-kasemir/7b/627/a17" target="_blank"><span class="zocial-linkedin"></span></a></li>

    </ul>
</footer>
</body>


