@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    
}

body {
    background-color: ;
} 

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

footer {
    border-top: 1px solid gray;
    height: 80px;
    padding-top: 20px;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size: 28px;

}

.links-bar {
    padding: 10px; 
}

.links-bar li {
    display:inline;
    padding-right: 10px;
    padding-left: 10px;


}

nav {
    height: 50px;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid grey;
    
}

nav a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

nav ul {
    height:inherit;
    text-align: center;
}

.social-icons {
    text-align: center;
    
}

.social-icons li {
    display:inline;
    padding: 10px;
    margin-top: 10px;
}

.subtitle {
    font-size: 14px;
    color: grey
}

    
    